@charset "UTF-8";
/* Testa mdbreact igen, utan att ha fluid mm stats för knapparna*/
@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");
body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: auto 100%; }

html, body {
  background: #222222 !important;
  min-height: 100% !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  transition: background 5000s ease-in-out 0s !important; }

::-webkit-scrollbar {
  display: none; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #a6a6a6 !important; }

a:hover {
  text-decoration: none;
  color: #cccccc !important; }

a:focus {
  text-decoration: none;
  color: #a6a6a6 !important; }

a:active {
  text-decoration: none;
  color: #00cc00 !important; }

p, b, h5, h4, h3, h2, h1 {
  font-family: 'Exo 2', sans-serif !important;
  color: white;
  text-align: center; }

hr {
  color: white !important;
  background: #373737; }

strong {
  color: #b3b3b3; }

input {
  color: white;
  font-family: 'Exo 2', sans-serif !important; }

.css-1qyrjaz {
  top: 60px;
  right: 20px;
  width: 40px;
  height: 40px;
  position: fixed;
  border-radius: 20px; }

.main {
  margin: 0;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 65px; }

.fb-link {
  color: #4267B2; }

.li-link {
  color: #0077B5; }

.login-page-desk {
  background: url(../../assets/images/interstellar_2014-wallpaper-2560x1440.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  .login-page-desk div.card.login-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 450px;
    width: 400px;
    float: none;
    border: none;
    background: #333333;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 10px 1px black;
    border-radius: 5px; }
  .login-page-desk div.card.register-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 550px;
    width: 400px;
    float: none;
    border: none;
    background: #333333;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 10px 1px black;
    border-radius: 5px; }
  .login-page-desk p {
    color: white; }
  .login-page-desk span {
    color: #A9A9A9;
    width: 100; }
  .login-page-desk img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .login-page-desk .login-btn {
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    display: block;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 1px 1px 5px 1px #222222;
    border: none; }
  .login-page-desk .login-btn:hover {
    box-shadow: 3px 3px 10px 1px    #101010;
    background: #696969;
    color: #C8C8C8; }
  .login-page-desk .login-btn:active {
    box-shadow: 3px 3px 10px 1px    #101010;
    color: #888888;
    outline: none;
    border: none; }
  .login-page-desk .login-btn:focus {
    outline: none; }
  .login-page-desk .login-field {
    margin-top: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white !important; }
    .login-page-desk .login-field input {
      height: 50px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Exo 2', sans-serif !important;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px #222222 !important;
      background: #696969 !important;
      outline: none !important;
      border: none !important;
      color: white !important; }
    .login-page-desk .login-field input:hover {
      box-shadow: 3px 3px 7px 1px #222222 !important; }
    .login-page-desk .login-field input:active {
      box-shadow: 1px 1px 10px 1px #222222 !important;
      outline: none !important;
      border: none !important; }
    .login-page-desk .login-field input:focus {
      box-shadow: 1px 1px 10px 1px #222222 !important;
      outline: none !important;
      border: none !important; }
    .login-page-desk .login-field input::placeholder {
      color: #b3b3b3 !important; }
  .login-page-desk .logo {
    animation: rubberBand infinite 2s linear;
    width: 50px; }

.login-page-mobile {
  height: 850px;
  padding: 5px;
  padding-top: 20px;
  color: white;
  background: #333333; }
  .login-page-mobile a {
    text-align: center;
    color: white;
    display: block;
    margin-top: 20px; }
  .login-page-mobile img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .login-page-mobile .login-btn {
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 50px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    display: block;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 1px 1px 5px 1px #222222;
    border: none; }
  .login-page-mobile .login-link {
    margin: 0;
    width: 250px;
    margin-left: auto;
    margin-right: auto; }
  .login-page-mobile .login-btn:hover {
    box-shadow: 0px 5px 30px 0px #222222; }
  .login-page-mobile .login-field {
    margin-top: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    color: white !important; }
    .login-page-mobile .login-field input {
      height: 50px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Exo 2', sans-serif !important;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px #222222 !important;
      background: #696969 !important;
      outline: none !important;
      border: none !important;
      color: white !important; }
    .login-page-mobile .login-field input:active {
      box-shadow: 1px 1px 10px 1px #222222 !important;
      outline: none !important;
      border: none !important; }
    .login-page-mobile .login-field input:focus {
      box-shadow: 1px 1px 10px 1px #222222 !important;
      outline: none !important;
      border: none !important; }
    .login-page-mobile .login-field input::placeholder {
      color: #b3b3b3 !important; }
  .login-page-mobile .logo {
    animation: rubberBand infinite 2s linear;
    width: 50px; }

div.loginError {
  color: #FF4500; }
  div.loginError p, div.loginError h3 {
    color: #FF4500; }

.loginSuccess {
  margin-top: 15px;
  color: #59b300 !important;
  text-align: center; }

.logout {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  background: -webkit-linear-gradient(right, #388E3C 40%, white 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .logout .logo {
    animation: rubberBand infinite 2s linear;
    width: 50px; }

/*=============================
                    Profile page
===============================*/
.profile-page {
  background: blue; }

/*=============================
                        SIDEBAR
===============================*/
.toggle-mobile-navbar {
  margin: 0;
  text-decoration: none;
  background: black !important;
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 2px 2px 10px 1px black !important; }
  .toggle-mobile-navbar i {
    position: absolute;
    top: 42%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: white; }

.toggle-mobile-navbar:active i {
  color: green; }

.mobile-sidebar .sidebar-box p {
  color: white;
  margin-bottom: 5px;
  text-align: center; }

.mobile-sidebar .sidebar-box a {
  text-decoration: none;
  color: white; }

.mobile-sidebar .sidebar-box a:hover {
  text-decoration: none;
  color: #388E3C; }

.mobile-sidebar .sidebar-box .sidebar {
  opacity: 1;
  transition: all 0.8s ease;
  z-index: 4;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 250px;
  padding: 0px;
  background-image: linear-gradient(to bottom left, #222222, #737373);
  overflow-y: auto;
  overflow-x: hidden; }

.mobile-sidebar .sidebar-box .sidebar-icon-btn {
  padding: 10px 15.5px;
  border-radius: 5px; }

.mobile-sidebar .sidebar-box .sidebar-links {
  text-align: center; }
  .mobile-sidebar .sidebar-box .sidebar-links .sidebar-img-link {
    width: 30px; }

.mobile-sidebar .sidebar-box .sidebar-icon-btn:hover {
  box-shadow: 0px 2px 15px 0px #222222; }

.mobile-sidebar .sidebar-box .sidebar-send-btn {
  padding: 10px 15.5px;
  margin-left: 35px;
  border-radius: 5px; }

.mobile-sidebar .sidebar-box .sidebar.sidebar-entering {
  opacity: 0.5;
  transform: translateX(0%); }

.mobile-sidebar .sidebar-box .sidebar.sidebar-exited {
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateX(-100%); }

.mobile-sidebar .sidebar-box .screenHide {
  background: black;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  transition: opacity 2s ease; }

.mobile-sidebar .sidebar-box .screenHide.screenHide-exited {
  opacity: 0;
  transform: translateX(-100%); }

.sidebar-dropdown {
  box-shadow: none !important;
  background: none;
  width: 250px;
  margin: 0 !important;
  padding: 0 !important; }
  .sidebar-dropdown div.card-header i {
    float: right; }
  .sidebar-dropdown .add-channel {
    box-shadow: none !important;
    background: none !important;
    height: 42px !important;
    width: 43px;
    top: 0 !important;
    right: 40px;
    float: right;
    margin: 0;
    position: absolute; }
    .sidebar-dropdown .add-channel i {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      display: block; }
    .sidebar-dropdown .add-channel i:active {
      color: green; }
  .sidebar-dropdown .dropdown-arrow {
    box-shadow: none !important;
    background: none !important;
    height: 42px !important;
    width: 10px;
    top: 0 !important;
    right: 0 !important;
    float: right;
    margin: 0;
    position: absolute;
    padding: 20px; }
    .sidebar-dropdown .dropdown-arrow i {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      display: block; }
    .sidebar-dropdown .dropdown-arrow i:active {
      color: green; }

.sidebar-category {
  padding-right: 0;
  cursor: context-menu !important; }
  .sidebar-category h5 {
    text-align: left; }

.sidebar-dropdown-menu {
  width: 250px !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;
  display: block; }

.sidebar-dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 30px 10px 10px;
  margin: 0 !important;
  font-size: 12px;
  text-align: left; }

.channel-notifications {
  float: right;
  font-size: 13px;
  box-shadow: 1px 1px 10px 0px black !important; }

.desk-sidebar {
  z-index: 10 !important;
  position: fixed !important;
  top: 0px;
  bottom: 0px;
  width: 250px !important;
  background-image: linear-gradient(to bottom left, #2E2E2E, #4d4d4d);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 1px 10px 20px 0px black !important; }

.sidebar-avatar {
  box-shadow: 5px 5px 10px 0px #111111 !important;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  float: left; }

.btn-dark.dropdown-toggle.user-toggle {
  width: 250px !important;
  margin: 0 !important;
  padding: 5px 5px 10px 10px;
  font-size: 12px;
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important; }

.dropdown-menu.user-toggle {
  width: 250px !important;
  margin: 0 !important;
  left: 5px !important;
  background: #222222;
  box-shadow: 1px 10px 20px 1px black !important;
  padding: 0;
  vertical-align: middle;
  border-radius: 0; }
  .dropdown-menu.user-toggle .dropdown-item {
    color: white; }
  .dropdown-menu.user-toggle .dropdown-item:hover {
    background: black;
    outline: none !important;
    border: none !important; }
  .dropdown-menu.user-toggle .dropdown-item:active {
    color: #388E3C;
    outline: none !important;
    border: none !important; }
  .dropdown-menu.user-toggle .dropdown-item:focus {
    background: #2E2E2E; }

.btn-dark:not([disabled]):not(.disabled):active,
.btn-dark:not([disabled]):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  background-color: #212121 !important; }

/*=============================
             Informational modal
===============================*/
.form-dark .modal-content {
  background-color: rgba(51, 51, 51, 0.7);
  z-index: 1000 !important;
  display: block !important;
  margin: 0 auto; }
  .form-dark .modal-content .modal-body {
    padding: 0; }
  .form-dark .modal-content div, .form-dark .modal-content h3 {
    color: white !important;
    background: none !important;
    border: none !important; }
  .form-dark .modal-content div.accordion.ui.styled {
    border: none !important; }

.form-dark .modal-header {
  border-bottom: none; }

.form-dark .modal-header .close {
  color: #fff; }

/*=============================
             Create channel modal
===============================*/
.form-dark.channel-modal {
  color: white !important;
  top: 20%; }
  .form-dark.channel-modal .modal-content {
    padding: 10px; }
    .form-dark.channel-modal .modal-content input:active, .form-dark.channel-modal .modal-content input:focus {
      color: white; }
  .form-dark.channel-modal .modal-header, .form-dark.channel-modal .modal-footer {
    border: none; }

/*=============================
             Change avatar
===============================*/
/*=============================
                        CHATLOBBY
===============================*/
.lobby-navbar {
  z-index: 1;
  border-radius: 0px 0px 5px 5px;
  position: fixed !important;
  top: 0;
  left: 250px;
  right: 0; }
  .lobby-navbar .dropdown-menu {
    background: #333333; }
  .lobby-navbar a {
    margin-top: 3px; }

.mobile-lobby-navbar {
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
  box-shadow: 5px 5px 10px 1px #111111 !important;
  position: fixed !important;
  top: 0;
  left: 58px;
  height: 50px;
  padding-left: 0;
  right: 0; }
  .mobile-lobby-navbar h5 {
    position: relative;
    top: 23px;
    left: 19%;
    transform: translate(-50%, -50%);
    float: left; }
  .mobile-lobby-navbar a.dropdown-toggle {
    position: relative;
    top: 23px;
    left: 5%;
    transform: translate(-50%, -50%);
    float: left;
    padding-left: 0;
    padding-right: 0; }
  .mobile-lobby-navbar input {
    float: right; }
  .mobile-lobby-navbar .md-form input[type=text],
  .mobile-lobby-navbar .md-form input[type=password],
  .mobile-lobby-navbar .md-form input[type=email],
  .mobile-lobby-navbar .md-form input[type=url],
  .mobile-lobby-navbar .md-form input[type=time],
  .mobile-lobby-navbar .md-form input[type=date],
  .mobile-lobby-navbar .md-form input[type=datetime-local],
  .mobile-lobby-navbar .md-form input[type=tel],
  .mobile-lobby-navbar .md-form input[type=number],
  .mobile-lobby-navbar .md-form input[type=search-md],
  .mobile-lobby-navbar .md-form input[type=search],
  .mobile-lobby-navbar .md-form textarea.md-textarea {
    width: 120px; }
  .mobile-lobby-navbar .dropdown-menu {
    background: #696969;
    margin: 0;
    padding: 0; }
    .mobile-lobby-navbar .dropdown-menu .dropdown-item {
      text-align: center; }

.lobby-background {
  background: #222222;
  font-family: 'Exo 2', sans-serif !important; }

.chat-modal {
  background-image: linear-gradient(to right, #222222, #444444);
  padding: 20px 20px 120px 20px;
  margin-left: 250px; }

.message-form {
  box-shadow: 10px -5px 20px 1px black !important;
  background: #333333;
  position: fixed !important;
  bottom: 0;
  right: 0;
  z-index: 1; }
  .message-form #emoji-btn {
    margin: 0 !important;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 50px; }
    .message-form #emoji-btn i {
      position: absolute;
      top: 40%;
      left: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      display: block; }
    .message-form #emoji-btn i.emoji-open {
      color: #ffbf00; }
    .message-form #emoji-btn i.emoji-open:hover {
      color: #ffd966; }
    .message-form #emoji-btn i.emoji-close {
      color: red; }
    .message-form #emoji-btn i.emoji-close:hover {
      color: white; }
  .message-form input {
    height: 50px;
    width: 100%;
    padding: 10px;
    background: #444444 !important;
    outline: none !important;
    border: none !important;
    color: white !important; }
  .message-form input:active {
    outline: none !important;
    border: none !important; }
  .message-form input:focus {
    outline: none !important;
    border: none !important; }
  .message-form input::placeholder {
    color: #b3b3b3 !important; }

.message-button {
  position: relative;
  font-size: 15px;
  width: 50%;
  height: 50px;
  margin: 0;
  border-radius: 0px !important; }

.message-button:active {
  color: #388E3C; }

.message-button:focus {
  color: #388E3C; }

.message {
  position: relative;
  background: 0 0;
  margin: .5em 0 0;
  border: none;
  border-top: none;
  line-height: 1.2; }

.message-avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left; }

.message-author {
  cursor: pointer;
  font-size: 17px;
  margin-left: 10px; }

.message-time {
  color: #696969;
  padding-bottom: 15px;
  margin-left: 50px;
  font-size: 12px; }

.message-text {
  margin: .25em 0 .5em;
  font-size: 1em;
  word-wrap: break-word;
  line-height: 1.3;
  color: white;
  width: 100%;
  display: inline-block;
  padding-left: 5px;
  font-family: 'Exo 2', sans-serif !important; }

.message-image {
  box-shadow: 5px 5px 10px 1px black !important;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 100% !important;
  display: inline-block; }

.emoji-mart {
  position: fixed;
  bottom: 100px;
  font-family: 'Exo 2', sans-serif !important;
  background: #555555 !important;
  border: none !important;
  color: white !important; }
  .emoji-mart .emoji-mart-search input {
    border: none; }
  .emoji-mart .emoji-mart-category-label span {
    background: #696969; }

.user-online {
  color: green; }

.user-offline {
  color: red; }

.user-typing {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: green;
  opacity: 0.8; }

/*=============================
                        FOOTER
===============================*/
.footer {
  margin-top: 0 !important; }
  .footer .footer-copyright {
    padding-top: 20px; }
  .footer .footer-img {
    width: 30px; }

/*=============================
                        RESPONSIVE
===============================*/
/* MOBILE VIEW */
@media only screen and (max-width: 500px) {
  .login-page-mobile {
    display: block; }
  .login-page-desk {
    display: none; } }

/* DESK VIEW */
@media only screen and (min-width: 500px) {
  .login-page-mobile {
    display: none; }
  .login-page-desk {
    display: block; } }

/* MOBILE VIEW */
@media only screen and (max-width: 800px) {
  .desk-sidebar {
    display: none; }
  .mobile-sidebar {
    display: block; }
  .lobby-navbar {
    display: none !important; }
  .chat-modal {
    margin-left: 0px !important; }
  .toggle-mobile-navbar {
    display: block;
    position: fixed !important; }
  .form-dark .modal-content {
    width: 305px; }
  .message-form {
    left: 0px !important; }
  .form-dark .modal-content {
    background-color: #222222; }
  .mobile-lobby-navbar {
    display: block; }
  .avatar-modal-footer1 button {
    margin: 20px 0px 0px 0px;
    width: 50%; }
  .avatar-modal-footer2 button {
    margin: 10px 0px 0px 0px;
    width: 100%; }
  .avatar-modal-footer {
    display: none; } }

/* DESK VIEW */
@media only screen and (min-width: 800px) {
  .desk-sidebar {
    display: block; }
  .mobile-sidebar {
    display: none; }
  .lobby-navbar {
    display: block; }
  .toggle-mobile-navbar {
    display: none; }
  .message-form {
    left: 250px !important; }
  .mobile-lobby-navbar {
    display: none; }
  .avatar-modal-footer button {
    margin-left: auto;
    margin-right: auto; }
  .avatar-modal-footer1 {
    display: none; }
  .avatar-modal-footer2 {
    display: none; }
  .form-dark {
    top: 25%; } }
